.container { 
  background-image: url("../../images/Creighton_CC_1_Cropped.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media (max-width: 500px) {
    background-attachment: scroll;
  }
}

.card {
  width: 35%;
  border-radius: 5px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #e8daa8;
  color: black;
  opacity: 0.9;
  padding: 10px;
  @media (max-width: 500px) {
    width: 85%;
  }
}


.card h1 {
  font-family: "CreightonLogo";
  font-size: 28px;
}