.container { 
  background-image: url("../../images/Creighton_C_Retaining_Wall_Homeless.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  // background-color: #00ff11;
  height: 100vh;
  padding-top: 121px;
  margin: 0;
  overflow: hidden;
  // position: relative;
}

.container video {
  // position: absolute;
  // width: auto !important;
  // height: 100% !important;
  
  // background-size: cover;
  // transition: 1s opacity;
  // z-index: -1;
  // height: 100vh;
  // height: ;
  top: 100px;
  width: 100%;
  // position: absolute;
  // margin: 0;
  @media (max-width: 600px) {
    width: 100%;
  }
}
